:root {
  color-scheme: light;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

input.MuiOutlinedInput-input {
  box-sizing: content-box;
}

a:not(.MuiButton-root) {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
}
